<div style="font-family: sans-serif;">
    <h2 style="color: #555;">
        Verify your Email Address
    </h2>
    <p style="color: gray;">
       Please click the Link below to verify your email address.
    </p>

    <a href="">
       Verify My Email Address
    </a>
</div>






